black
numpy
pandas
seaborn
openai
pylint
ipywidgets
jupyter_contrib_nbextensions
streamlit
plotly
streamlit-option-menu
pymongo[srv]
pytest
pylint
fastapi
ipython
click
databricks
databricks-cli
databricks-sql-connector
databricks-connect==10.4.*
uvicorn[standard]